<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.tms.biz.mapper.EvaluateTypeMapperExt" >
  <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.EvaluateType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="satisfaction_lever" property="satisfactionLever" jdbcType="INTEGER" />
    <result column="satisfaction_lever_desc" property="satisfactionLeverDesc" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, satisfaction_lever, satisfaction_lever_desc, create_user_id, create_time, modify_user_id, 
    modify_time, enabled
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from evaluate_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from evaluate_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.tms.biz.entity.EvaluateType" >
    insert into evaluate_type (id, satisfaction_lever, satisfaction_lever_desc, 
      create_user_id, create_time, modify_user_id, 
      modify_time, enabled)
    values (#{id,jdbcType=INTEGER}, #{satisfactionLever,jdbcType=INTEGER}, #{satisfactionLeverDesc,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{enabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.tms.biz.entity.EvaluateType" >
    insert into evaluate_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="satisfactionLever != null" >
        satisfaction_lever,
      </if>
      <if test="satisfactionLeverDesc != null" >
        satisfaction_lever_desc,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="satisfactionLever != null" >
        #{satisfactionLever,jdbcType=INTEGER},
      </if>
      <if test="satisfactionLeverDesc != null" >
        #{satisfactionLeverDesc,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.EvaluateType" >
    update evaluate_type
    <set >
      <if test="satisfactionLever != null" >
        satisfaction_lever = #{satisfactionLever,jdbcType=INTEGER},
      </if>
      <if test="satisfactionLeverDesc != null" >
        satisfaction_lever_desc = #{satisfactionLeverDesc,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.EvaluateType" >
    update evaluate_type
    set satisfaction_lever = #{satisfactionLever,jdbcType=INTEGER},
      satisfaction_lever_desc = #{satisfactionLeverDesc,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>