<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.tms.biz.mapper.GrabWaybillRecordMapperExt">
    <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.GrabWaybillRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="waybill_id" property="waybillId" jdbcType="INTEGER"/>
        <result column="truck_id" property="truckId" jdbcType="INTEGER"/>
        <result column="driver_id" property="driverId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, waybill_id, truck_id, driver_id, status, create_time, create_user_id, modify_time, 
    modify_user_id, enabled
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from grab_waybill_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grab_waybill_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jaagro.tms.biz.entity.GrabWaybillRecord" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
    insert into grab_waybill_record (id, waybill_id, truck_id, 
      driver_id, status, create_time, 
      create_user_id, modify_time, modify_user_id, 
      enabled)
    values (#{id,jdbcType=INTEGER}, #{waybillId,jdbcType=INTEGER}, #{truckId,jdbcType=INTEGER}, 
      #{driverId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, 
      #{enabled,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="com.jaagro.tms.biz.entity.GrabWaybillRecord" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into grab_waybill_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="waybillId != null">
                waybill_id,
            </if>
            <if test="truckId != null">
                truck_id,
            </if>
            <if test="driverId != null">
                driver_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="modifyUserId != null">
                modify_user_id,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="waybillId != null">
                #{waybillId,jdbcType=INTEGER},
            </if>
            <if test="truckId != null">
                #{truckId,jdbcType=INTEGER},
            </if>
            <if test="driverId != null">
                #{driverId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.GrabWaybillRecord"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        update grab_waybill_record
        <set>
            <if test="waybillId != null">
                waybill_id = #{waybillId,jdbcType=INTEGER},
            </if>
            <if test="truckId != null">
                truck_id = #{truckId,jdbcType=INTEGER},
            </if>
            <if test="driverId != null">
                driver_id = #{driverId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.GrabWaybillRecord" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
    update grab_waybill_record
    set waybill_id = #{waybillId,jdbcType=INTEGER},
      truck_id = #{truckId,jdbcType=INTEGER},
      driver_id = #{driverId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>