<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.tms.biz.mapper.LocationMapperExt">
  <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.Location">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_type" jdbcType="INTEGER" property="deviceType" />
    <result column="device_info" jdbcType="VARCHAR" property="deviceInfo" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="truck_id" jdbcType="INTEGER" property="truckId" />
    <result column="waybill_id" jdbcType="INTEGER" property="waybillId" />
    <result column="waybill_status" jdbcType="VARCHAR" property="waybillStatus" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="speed" jdbcType="DECIMAL" property="speed" />
    <result column="angle" jdbcType="DECIMAL" property="angle" />
    <result column="location_time" jdbcType="TIMESTAMP" property="locationTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_type, device_info, driver_id, truck_id, waybill_id, waybill_status, latitude, 
    longitude, speed, angle, location_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.jaagro.tms.biz.entity.LocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from location
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.tms.biz.entity.Location">
    insert into location (id, device_type, device_info, 
      driver_id, truck_id, waybill_id, 
      waybill_status, latitude, longitude, 
      speed, angle, location_time, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{deviceType,jdbcType=INTEGER}, #{deviceInfo,jdbcType=VARCHAR}, 
      #{driverId,jdbcType=INTEGER}, #{truckId,jdbcType=INTEGER}, #{waybillId,jdbcType=INTEGER}, 
      #{waybillStatus,jdbcType=VARCHAR}, #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, 
      #{speed,jdbcType=DECIMAL}, #{angle,jdbcType=DECIMAL}, #{locationTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.tms.biz.entity.Location">
    insert into location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="deviceInfo != null">
        device_info,
      </if>
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="truckId != null">
        truck_id,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="waybillStatus != null">
        waybill_status,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="angle != null">
        angle,
      </if>
      <if test="locationTime != null">
        location_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceInfo != null">
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="truckId != null">
        #{truckId,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=INTEGER},
      </if>
      <if test="waybillStatus != null">
        #{waybillStatus,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=DECIMAL},
      </if>
      <if test="angle != null">
        #{angle,jdbcType=DECIMAL},
      </if>
      <if test="locationTime != null">
        #{locationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jaagro.tms.biz.entity.LocationExample" resultType="java.lang.Integer">
    select count(*) from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.Location">
    update location
    <set>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceInfo != null">
        device_info = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="truckId != null">
        truck_id = #{truckId,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=INTEGER},
      </if>
      <if test="waybillStatus != null">
        waybill_status = #{waybillStatus,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=DECIMAL},
      </if>
      <if test="angle != null">
        angle = #{angle,jdbcType=DECIMAL},
      </if>
      <if test="locationTime != null">
        location_time = #{locationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.Location">
    update location
    set device_type = #{deviceType,jdbcType=INTEGER},
      device_info = #{deviceInfo,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=INTEGER},
      truck_id = #{truckId,jdbcType=INTEGER},
      waybill_id = #{waybillId,jdbcType=INTEGER},
      waybill_status = #{waybillStatus,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      speed = #{speed,jdbcType=DECIMAL},
      angle = #{angle,jdbcType=DECIMAL},
      location_time = #{locationTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>