<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.tms.biz.mapper.WaybillTrackingMapper" >
  <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.WaybillTracking" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="waybill_id" property="waybillId" jdbcType="INTEGER" />
    <result column="old_status" property="oldStatus" jdbcType="VARCHAR" />
    <result column="new_status" property="newStatus" jdbcType="VARCHAR" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="tracking_info" property="trackingInfo" jdbcType="VARCHAR" />
    <result column="device" property="device" jdbcType="VARCHAR" />
    <result column="refer_user_id" property="referUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, waybill_id, old_status, new_status, driver_id, latitude, longitude, tracking_info, 
    device, refer_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from waybill_tracking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from waybill_tracking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.tms.biz.entity.WaybillTracking" >
    insert into waybill_tracking (id, waybill_id, old_status, 
      new_status, driver_id, latitude, 
      longitude, tracking_info, device, 
      refer_user_id)
    values (#{id,jdbcType=INTEGER}, #{waybillId,jdbcType=INTEGER}, #{oldStatus,jdbcType=VARCHAR}, 
      #{newStatus,jdbcType=VARCHAR}, #{driverId,jdbcType=INTEGER}, #{latitude,jdbcType=DECIMAL}, 
      #{longitude,jdbcType=DECIMAL}, #{trackingInfo,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, 
      #{referUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.tms.biz.entity.WaybillTracking" >
    insert into waybill_tracking
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="waybillId != null" >
        waybill_id,
      </if>
      <if test="oldStatus != null" >
        old_status,
      </if>
      <if test="newStatus != null" >
        new_status,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="trackingInfo != null" >
        tracking_info,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="referUserId != null" >
        refer_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null" >
        #{waybillId,jdbcType=INTEGER},
      </if>
      <if test="oldStatus != null" >
        #{oldStatus,jdbcType=VARCHAR},
      </if>
      <if test="newStatus != null" >
        #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="trackingInfo != null" >
        #{trackingInfo,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="referUserId != null" >
        #{referUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.WaybillTracking" >
    update waybill_tracking
    <set >
      <if test="waybillId != null" >
        waybill_id = #{waybillId,jdbcType=INTEGER},
      </if>
      <if test="oldStatus != null" >
        old_status = #{oldStatus,jdbcType=VARCHAR},
      </if>
      <if test="newStatus != null" >
        new_status = #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="trackingInfo != null" >
        tracking_info = #{trackingInfo,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="referUserId != null" >
        refer_user_id = #{referUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.WaybillTracking" >
    update waybill_tracking
    set waybill_id = #{waybillId,jdbcType=INTEGER},
      old_status = #{oldStatus,jdbcType=VARCHAR},
      new_status = #{newStatus,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      tracking_info = #{trackingInfo,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      refer_user_id = #{referUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>