<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.tms.biz.mapper.WaybillMapperExt">
  <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.Waybill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="load_site_id" jdbcType="INTEGER" property="loadSiteId" />
    <result column="truck_team_contract_id" jdbcType="INTEGER" property="truckTeamContractId" />
    <result column="waybill_status" jdbcType="VARCHAR" property="waybillStatus" />
    <result column="need_truck_type" jdbcType="INTEGER" property="needTruckType" />
    <result column="truck_id" jdbcType="INTEGER" property="truckId" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="distance" jdbcType="DECIMAL" property="distance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="created_user_id" jdbcType="INTEGER" property="createdUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_user_id" jdbcType="INTEGER" property="modifyUserId" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="load_time" jdbcType="TIMESTAMP" property="loadTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, load_site_id, truck_team_contract_id, waybill_status, need_truck_type, 
    truck_id, driver_id, send_time, distance, create_time, created_user_id, modify_time, 
    modify_user_id, enabled, load_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waybill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from waybill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.tms.biz.entity.Waybill"  useGeneratedKeys="true"
          keyProperty="id" keyColumn="id">
    insert into waybill (id, order_id, load_site_id, 
      truck_team_contract_id, waybill_status, need_truck_type, 
      truck_id, driver_id, send_time, 
      distance, create_time, created_user_id, 
      modify_time, modify_user_id, enabled, 
      load_time)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{loadSiteId,jdbcType=INTEGER}, 
      #{truckTeamContractId,jdbcType=INTEGER}, #{waybillStatus,jdbcType=VARCHAR}, #{needTruckType,jdbcType=INTEGER}, 
      #{truckId,jdbcType=INTEGER}, #{driverId,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{distance,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createdUserId,jdbcType=INTEGER}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, #{enabled,jdbcType=BIT}, 
      #{loadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.tms.biz.entity.Waybill"  useGeneratedKeys="true"
          keyProperty="id" keyColumn="id">
    insert into waybill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="loadSiteId != null">
        load_site_id,
      </if>
      <if test="truckTeamContractId != null">
        truck_team_contract_id,
      </if>
      <if test="waybillStatus != null">
        waybill_status,
      </if>
      <if test="needTruckType != null">
        need_truck_type,
      </if>
      <if test="truckId != null">
        truck_id,
      </if>
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="distance != null">
        distance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createdUserId != null">
        created_user_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="loadTime != null">
        load_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="loadSiteId != null">
        #{loadSiteId,jdbcType=INTEGER},
      </if>
      <if test="truckTeamContractId != null">
        #{truckTeamContractId,jdbcType=INTEGER},
      </if>
      <if test="waybillStatus != null">
        #{waybillStatus,jdbcType=VARCHAR},
      </if>
      <if test="needTruckType != null">
        #{needTruckType,jdbcType=INTEGER},
      </if>
      <if test="truckId != null">
        #{truckId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distance != null">
        #{distance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="loadTime != null">
        #{loadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.Waybill">
    update waybill
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="loadSiteId != null">
        load_site_id = #{loadSiteId,jdbcType=INTEGER},
      </if>
      <if test="truckTeamContractId != null">
        truck_team_contract_id = #{truckTeamContractId,jdbcType=INTEGER},
      </if>
      <if test="waybillStatus != null">
        waybill_status = #{waybillStatus,jdbcType=VARCHAR},
      </if>
      <if test="needTruckType != null">
        need_truck_type = #{needTruckType,jdbcType=INTEGER},
      </if>
      <if test="truckId != null">
        truck_id = #{truckId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distance != null">
        distance = #{distance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        created_user_id = #{createdUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="loadTime != null">
        load_time = #{loadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.Waybill">
    update waybill
    set order_id = #{orderId,jdbcType=INTEGER},
      load_site_id = #{loadSiteId,jdbcType=INTEGER},
      truck_team_contract_id = #{truckTeamContractId,jdbcType=INTEGER},
      waybill_status = #{waybillStatus,jdbcType=VARCHAR},
      need_truck_type = #{needTruckType,jdbcType=INTEGER},
      truck_id = #{truckId,jdbcType=INTEGER},
      driver_id = #{driverId,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      distance = #{distance,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      created_user_id = #{createdUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=BIT},
      load_time = #{loadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>