<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.tms.biz.mapper.WaybillMapper">
    <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.Waybill">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="truck_team_contract_id" property="truckTeamContractId" jdbcType="INTEGER"/>
        <result column="waybill_status" property="waybillStatus" jdbcType="VARCHAR"/>
        <result column="need_truck_type" property="needTruckType" jdbcType="INTEGER"/>
        <result column="truck_id" property="truckId" jdbcType="INTEGER"/>
        <result column="driver_id" property="driverId" jdbcType="INTEGER"/>
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="distance" property="distance" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="created_user_id" property="createdUserId" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER"/>
        <result column="load_site_id" property="loadSiteId" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="DetailInfo" type="com.jaagro.tms.api.dto.waybill.GetWaybillAppDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="truck_team_contract_id" property="truckTeamContractId" jdbcType="INTEGER"/>
        <result column="waybill_status" property="waybillStatus" jdbcType="VARCHAR"/>
        <result column="need_truck_type" property="needTruckType" jdbcType="INTEGER"/>
        <result column="truck_id" property="truckId" jdbcType="INTEGER"/>
        <result column="driver_id" property="driverId" jdbcType="INTEGER"/>
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="distance" property="distance" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="created_user_id" property="createdUserId" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER"/>
        <result column="load_site_id" property="loadSiteId" jdbcType="INTEGER"/>
        <collection property="waybillItems" column="id"
                    select="com.jaagro.tms.biz.mapper.WaybillItemsMapper.listByWaybillId"></collection>
    </resultMap>

    <sql id="Base_Column_List">
    id, order_id, truck_team_contract_id, waybill_status, need_truck_type, truck_id, 
    driver_id, send_time, distance, create_time, created_user_id, modify_time, modify_user_id, load_site_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from waybill
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from waybill
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jaagro.tms.biz.entity.Waybill">
    insert into waybill (id, order_id, truck_team_contract_id, 
      waybill_status, need_truck_type, truck_id, 
      driver_id, send_time, distance, 
      create_time, created_user_id, modify_time, 
      modify_user_id, load_site_id)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{truckTeamContractId,jdbcType=INTEGER}, 
      #{waybillStatus,jdbcType=VARCHAR}, #{needTruckType,jdbcType=INTEGER}, #{truckId,jdbcType=INTEGER}, 
      #{driverId,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, #{distance,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createdUserId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=INTEGER}, #{loadSiteId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.tms.biz.entity.Waybill" >
    insert into waybill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="truckTeamContractId != null" >
        truck_team_contract_id,
      </if>
      <if test="waybillStatus != null" >
        waybill_status,
      </if>
      <if test="needTruckType != null" >
        need_truck_type,
      </if>
      <if test="truckId != null" >
        truck_id,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createdUserId != null" >
        created_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="loadSiteId != null" >
      load_site_id,
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="truckTeamContractId != null" >
        #{truckTeamContractId,jdbcType=INTEGER},
      </if>
      <if test="waybillStatus != null" >
        #{waybillStatus,jdbcType=VARCHAR},
      </if>
      <if test="needTruckType != null" >
        #{needTruckType,jdbcType=INTEGER},
      </if>
      <if test="truckId != null" >
        #{truckId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        #{createdUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="loadSiteId != null" >
        #{loadSiteId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.Waybill" >
    update waybill
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="truckTeamContractId != null" >
        truck_team_contract_id = #{truckTeamContractId,jdbcType=INTEGER},
      </if>
      <if test="waybillStatus != null" >
        waybill_status = #{waybillStatus,jdbcType=VARCHAR},
      </if>
      <if test="needTruckType != null" >
        need_truck_type = #{needTruckType,jdbcType=INTEGER},
      </if>
      <if test="truckId != null" >
        truck_id = #{truckId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        created_user_id = #{createdUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="loadSiteId != null" >
        load_site_id = #{loadSiteId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.Waybill" >
    update waybill
    set order_id = #{orderId,jdbcType=INTEGER},
      truck_team_contract_id = #{truckTeamContractId,jdbcType=INTEGER},
      waybill_status = #{waybillStatus,jdbcType=VARCHAR},
      need_truck_type = #{needTruckType,jdbcType=INTEGER},
      truck_id = #{truckId,jdbcType=INTEGER},
      driver_id = #{driverId,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      distance = #{distance,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      created_user_id = #{createdUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      load_site_id = #{loadSiteId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from waybill
    where order_id = #{orderld,jdbcType=INTEGER}
  </select>
    <select id="selectWaybillByCarrierStatus" resultMap="DetailInfo" parameterType="com.jaagro.tms.biz.entity.Waybill">
        select
        <include refid="Base_Column_List"/>
        from waybill
        where waybill_status in ('待出发','前往装货地','待装货','待送达','待签收')
        <if test="driverId != null">
            and driver_id = #{driverId,jdbcType=INTEGER}
        </if>

    </select>
    <select id="selectWaybillByStatus" resultMap="DetailInfo" parameterType="com.jaagro.tms.biz.entity.Waybill">
        select
        <include refid="Base_Column_List"/>
        from waybill
        where
        <if test="waybillStatus != null">
            waybill_status=#{waybillStatus,jdbcType=VARCHAR}
        </if>
        <if test="driverId != null">
            and driver_id = #{driverId,jdbcType=INTEGER}
        </if>
        <if test="id != null">
            id = #{id,jdbcType=INTEGER}
        </if>
    </select>
    <select id="listWaybillIdByOrderId" resultType="java.lang.Integer">
        select id
        from waybill
        where order_id = #{orderId, jdbcType=INTEGER}
        and enabled = 1
    </select>

</mapper>