<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.tms.biz.mapper.WaybillAnomalyLogMapperExt" >
  <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.WaybillAnomalyLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="old_status" property="oldStatus" jdbcType="VARCHAR" />
    <result column="new_status" property="newStatus" jdbcType="VARCHAR" />
    <result column="log_info" property="logInfo" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, old_status, new_status, log_info, create_user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from waybill_anomaly_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from waybill_anomaly_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.tms.biz.entity.WaybillAnomalyLog" >
    insert into waybill_anomaly_log (id, old_status, new_status, 
      log_info, create_user_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{oldStatus,jdbcType=VARCHAR}, #{newStatus,jdbcType=VARCHAR}, 
      #{logInfo,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.tms.biz.entity.WaybillAnomalyLog" >
    insert into waybill_anomaly_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oldStatus != null" >
        old_status,
      </if>
      <if test="newStatus != null" >
        new_status,
      </if>
      <if test="logInfo != null" >
        log_info,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oldStatus != null" >
        #{oldStatus,jdbcType=VARCHAR},
      </if>
      <if test="newStatus != null" >
        #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="logInfo != null" >
        #{logInfo,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.WaybillAnomalyLog" >
    update waybill_anomaly_log
    <set >
      <if test="oldStatus != null" >
        old_status = #{oldStatus,jdbcType=VARCHAR},
      </if>
      <if test="newStatus != null" >
        new_status = #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="logInfo != null" >
        log_info = #{logInfo,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.WaybillAnomalyLog" >
    update waybill_anomaly_log
    set old_status = #{oldStatus,jdbcType=VARCHAR},
      new_status = #{newStatus,jdbcType=VARCHAR},
      log_info = #{logInfo,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>