<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.tms.biz.mapper.WaybillTrackingMapperExt">
  <resultMap id="BaseResultMap" type="com.jaagro.tms.biz.entity.WaybillTracking">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="waybill_id" jdbcType="INTEGER" property="waybillId" />
    <result column="tracking_type" jdbcType="INTEGER" property="trackingType" />
    <result column="old_status" jdbcType="VARCHAR" property="oldStatus" />
    <result column="new_status" jdbcType="VARCHAR" property="newStatus" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="tracking_info" jdbcType="VARCHAR" property="trackingInfo" />
    <result column="device" jdbcType="VARCHAR" property="device" />
    <result column="refer_user_id" jdbcType="INTEGER" property="referUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waybill_id, tracking_type, old_status, new_status, driver_id, latitude, longitude, 
    tracking_info, device, refer_user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waybill_tracking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from waybill_tracking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jaagro.tms.biz.entity.WaybillTracking" useGeneratedKeys="true">
    insert into waybill_tracking (id, waybill_id, tracking_type, 
      old_status, new_status, driver_id, 
      latitude, longitude, tracking_info, 
      device, refer_user_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{waybillId,jdbcType=INTEGER}, #{trackingType,jdbcType=INTEGER}, 
      #{oldStatus,jdbcType=VARCHAR}, #{newStatus,jdbcType=VARCHAR}, #{driverId,jdbcType=INTEGER}, 
      #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, #{trackingInfo,jdbcType=VARCHAR}, 
      #{device,jdbcType=VARCHAR}, #{referUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jaagro.tms.biz.entity.WaybillTracking" useGeneratedKeys="true">
    insert into waybill_tracking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="trackingType != null">
        tracking_type,
      </if>
      <if test="oldStatus != null">
        old_status,
      </if>
      <if test="newStatus != null">
        new_status,
      </if>
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="trackingInfo != null">
        tracking_info,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="referUserId != null">
        refer_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=INTEGER},
      </if>
      <if test="trackingType != null">
        #{trackingType,jdbcType=INTEGER},
      </if>
      <if test="oldStatus != null">
        #{oldStatus,jdbcType=VARCHAR},
      </if>
      <if test="newStatus != null">
        #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="trackingInfo != null">
        #{trackingInfo,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="referUserId != null">
        #{referUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.tms.biz.entity.WaybillTracking">
    update waybill_tracking
    <set>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=INTEGER},
      </if>
      <if test="trackingType != null">
        tracking_type = #{trackingType,jdbcType=INTEGER},
      </if>
      <if test="oldStatus != null">
        old_status = #{oldStatus,jdbcType=VARCHAR},
      </if>
      <if test="newStatus != null">
        new_status = #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="trackingInfo != null">
        tracking_info = #{trackingInfo,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="referUserId != null">
        refer_user_id = #{referUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.tms.biz.entity.WaybillTracking">
    update waybill_tracking
    set waybill_id = #{waybillId,jdbcType=INTEGER},
      tracking_type = #{trackingType,jdbcType=INTEGER},
      old_status = #{oldStatus,jdbcType=VARCHAR},
      new_status = #{newStatus,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      tracking_info = #{trackingInfo,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      refer_user_id = #{referUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>