# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/tms-biz/target/
/tms-web/target/
/tms-api/target/
/tms-web/src/main/resources/application-dev.yml
/tms-web/src/main/java/com/jaagro/tms/web/controller/gavinTest.java